<div class="message-container">
  <div class="user-info">
    <div class="user-picture avatar-<%= (message.id % 7) + 1 %> ">
      <%= message.username[0].toUpperCase() %>
    </div>
    <div class="user-text">
      <% if (locals.user?.membership || false) { %>
        <span><%= message.first_name %> <%= message.last_name %></span>
        <span class="username">@<%= message.username %> - <%= formatDate(message.created_at) %></span>
      <% } else { %>
        <span>Anonymous</span>
        <span class="username">@anonymous - <%= formatDate(message.created_at) %></span>
      <% } %>
    </div>
  </div>
  <div class="message-content">
    <h1 class="title"><%= message.title %></h1>
    <p class="message"><%= message.message %></p>
  </div>
</div>
